.line{
    border-top: 1px solid var(--clr-main);
    margin: 0 auto;
}

.container{
    text-align: center;
}

.time{
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
}

.links{
    padding: 2rem 1rem;
}

.copyright{
    padding: 0.5rem;
    text-align: center;
    small{
        font-weight: 200;
        font-size: 0.9rem;
    }
}

@media (max-width: 700px){
    .time{
        display: block;
        text-align: center;

        div{
            margin: 1rem 0;
        }
    }
}