:root{
    --clr-main: rgb(199, 146, 136);
    --clr-main-light: hsl(10, 36%, 70%);
    --clr-main-fade: hsl(10, 36%, 90%);
    --clr-main-transparent: rgb(206, 160, 151, 0.5);
    --clr-background: rgba(231,228,233,255);
    --clr-background-light: rgb(228, 226, 226);
    --clr-dark: #555555;
    --clr-grey: rgb(186, 185, 185); 
    --clr-light: rgb(236, 232, 232);
    --clr-fade: rgba(255, 255, 255, 0.8);
    --clr-red: rgba(232, 71, 71, 0.8);
}