:root{
    --clr-main: rgb(199, 146, 136);
    --clr-main-light: hsl(10, 36%, 70%);
    --clr-main-fade: hsl(24, 100%, 98%);
    --clr-main-transparent: rgb(206, 160, 151, 0.5);
    --clr-background: rgba(231,228,233,255);
    --clr-background-light: rgb(228, 226, 226);
    --clr-dark: #555555;
    --clr-grey: rgb(149, 149, 149); 
    --clr-light: rgb(226, 225, 225);
    --clr-fade: rgba(212, 211, 211, 0.204);
    --clr-red: rgba(235, 64, 64, 0.8);
}