.container{
    display: flex;
    align-items: center;
    padding: 0.5rem;

    .links, .brand, .social{
        width: 100%;
    }

    .links{
        display: flex;
        a{
            display: block;
            font-weight: 200;
            border-bottom: 1px solid transparent;
            text-align: center;
            padding: 0.5rem 5%;
            &:hover{
                color: var(--clr-main);
                border-bottom-color: var(--clr-main);
            }
        }
        .selected{
            color: var(--clr-main);
            border-bottom-color: var(--clr-main);
        }
    
    }

    .brand{
        text-align: center;
        img{
            width: 100%;
            object-fit: contain;
            height: 50px;
        }
    }

    .social{
        display: flex;
        justify-content: space-between;
        svg{
            font-size: 2.2rem;
        }
        a{
            display: flex;
        }
    }
}