.container{
    background-image: url(/services.webp);
    background-size: cover;
    background-position: center center;  
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 700px;
    height: 66vh;
    padding: 20% 2%;
    margin-top: -4.5rem;

    .buttons{
        display: flex;
        justify-content: center;
    }

    @media (max-width: 600px){
        .buttons{
            display: block;
            a{
                width: 100%;
                margin: 1rem 0;
            }
        }
    }
}