.container{
    background-image: url(/home.webp);
    background-size: cover;
    background-position: center center;  

    display: flex;
    align-items: center;
    justify-content: center;

    min-height: 500px;
    
    height: 66vh;
    padding: 20% 10%;

    section{
        text-align: center;
        margin-top: 2rem;

        p{
            max-width: 80%;
            margin: 3rem auto;
            font-size: 1.2rem;
            font-weight: 200;
            line-height: 2rem;
        }

    }
}