.container{
    background-image: url(/home.jpeg);
    background-size: cover;
    background-position: center center;  
    min-height: 500px;
    height: 40vh;
    padding: 20% 2%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    p{
        margin: 3rem auto;
        font-size: 1.2rem;
        font-weight: 200;
        line-height: 2rem;
    }
}