.container{
  padding: 1rem;

  img{
    width: 100%;
    object-fit: contain;
  }

  .hamburger{
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    position: relative;
  }
  .hamburgerIsOpen{
    position: fixed;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    color: var(--clr-main);
  }

  .menuOpen{
    background-color: rgba(110, 110, 110, 0.97);
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    padding: 1rem;

    display: flex;
    align-items: center;
    transition: 0.3s ease-in-out;

    visibility: hidden;
    opacity: 0;

    .contents{
      text-align: center;
      width: 100%;
      ul{      
        a{
          display: block;
          font-size: clamp(1.5rem, 4vh, 10vh);
          font-weight: 300;
          color: var(--clr-main);
          &:hover{
            color: var(--clr-main-fade);
          }
        }
      }
  
      .social{
        margin-top: 2rem;
        a{
          font-size: clamp(1.5rem, 4vh, 10vh);
        }
        .insta{
          color: var(--clr-main);
          font-size: 5rem;
          &:hover{
            color: white;
          }
        }
      }
    }

  }

  .menuIsOpen{
    visibility:visible;
    opacity: 1;
    
    .contents{
      animation: slideup 0.5s linear;
    }

    @keyframes slideup {
      0%{
        margin-top: 10rem;
      }
      100%{
        margin-top: 0;
      }
    }
  }

  .menuIsClose{
    .contents{
      animation: slidedown 0.5s linear;
    }

    @keyframes slidedown {
      0%{
        margin-top: 0rem;
      }
      100%{
        margin-top: 10rem;
      }
    }
  }
      
}