.container{
    margin: 5rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "left right"
    ;

    h1, p{
        text-align: left;
    }

    .left{
        grid-area: left;
        padding: 0 2rem;
        max-width: 600px;
    }

    .right{
        grid-area: right;
    }

    @media (max-width: 800px){
        grid-template-columns: 1fr;
        grid-template-areas: 
        "left"
        "right"
        ;

        .left{
            max-width: 100%;
            margin-bottom: 2rem;
        }
    }
}