.container{
    max-width: 1200px;
    display: grid;
    grid-template-columns: 1fr 0.8fr;
    grid-template-areas: 
    "left right";
    margin: 1rem auto;
    border: 2px solid var(--clr-main-fade);
    background-color: white;

    .left{
        grid-area: left;
        padding: 2.5rem;

        p, h1{
            font-weight: 200;
            margin-bottom: 1.5rem;
            max-width: 600px;
        }

        .p1, .p4{
            font-size: 0.8rem;
            color: var(--clr-grey);
        }


    }

    .right{
        grid-area: right;
        position: relative;

        img{
            width: 95%;
            height: 100%;
            float: right;
            position: relative;
        }

        div{
            background-color: rgb(228, 220, 210);
            width: 100%;
            height: 400px;
            position: absolute;
            bottom: 0;
            border-top-right-radius: 100%;
            border-top-left-radius: 100%;
        }
    }


    @media (max-width: 800px){
        grid-template-columns: 1fr;
        grid-template-areas: 
        "right"
        "left"
        ;

        .left{
            button{
                width: 100%;
            }
        }

        .right{
            div{
                display: none;
            }
        }
    }

}