.container{
    border: 1px solid var(--clr-light);
    border-left-color: transparent ;
    border-right-color: transparent ;
    margin-bottom: -1px;

    .button{
        padding: 1rem;
        width: 500px;
        display: flex;
        align-items: center;
        margin: auto;
        justify-content: space-between;
        font-size: 1.5rem;
        cursor: pointer;

        p{
            font-weight: 200;
        }

        button{
            background: black;
            color: white;
        }
        svg{
            font-size: 2rem;
            display: flex;
        }
        .iconOpen{
            transition: 0.5s;
            rotate: 180deg;
        }
        .iconClose{
            transition: 0.5s;
            rotate: 0deg;
        }
        .valueOpen{
            color: var(--clr-main);
        }
    }

    .summary{
        transition: max-height 0.8s ease-out; 
        overflow: hidden;
        background-color: white;
    }
    .dropdownOpen{
        max-height: 1000px;
    }
    .dropdownClose{
        max-height: 0;
    }

    @media (max-width: 700px){
        .button{
            width: 100%;
        }
    }
}