.container{
    margin: 3rem 0;

    section{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2rem 2rem;
        margin: 3rem 2rem;
    }

    @media (max-width: 800px){
        section{
            grid-template-columns: 1fr 1fr; 
        }
    }

    @media (max-width: 600px){
        section{
            grid-template-columns: 1fr; 
        }
    }
}