.line{
    border-top: 1px solid var(--clr-main);
    width: 50%;
    margin: 0 auto;
}

.container{
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    a{
        &:hover{
            color: var(--clr-main);
        }
    }
}

@media (max-width: 700px){
    .container{
        display: block;
        text-align: center;

        div{
            margin: 1rem 0;
        }
    }
}